# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# ============ #
# User-specific #
# ============ #

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

# ============ #
# OS files     #
# ============ #

.DS_Store
Thumbs.db

# =============== #
# Visual Studio   #
# =============== #

.vscode/
.vscode/*
*.code-workspace

# =============== #
# Rider           #
# =============== #

.idea/
*.sln.iml

# =============== #
# Crash Reports   #
# =============== #

sysinfo.txt

# =============== #
# Unity Asset Store Tools #
# =============== #

AssetStoreTools*

# =============== #
# Builds or Exported Packages #
# =============== #

*.unitypackage

# =============== #
# Backup and Temp #
# =============== #

*.bak
*.tmp
*.temp
